{{template "header" .}}
<div class="flex flex-col justify-center">
    <h1 class="text-center text-3xl text-white font-semibold">
        404 !
    </h1>
    <p class="mt-4 text-center text-xl text-white">
        Page not found &#128546
    </p>
</div>
{{template "footer" .}}