{{define "header"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chris Weir | Software Engineer</title>
    <link rel="stylesheet" href="assets/app.css">
</head>
<body class="background relative flex justify-center items-center min-h-screen bg-dots-darker bg-center selection:bg-red-500 selection:text-white"">
    {{end}}

    {{define "footer"}}
</body>

</html>
{{end}}