{{template "header" .}}
<div class="flex flex-col justify-center">
    <h1 class="text-center text-3xl text-white font-semibold">
        Hi, I'm Chris &#128075
    </h1>
    <p class="mt-4 text-center text-xl text-white">
        Software Engineer based in Irvine, Ayrshire.
    </p>
</div>
{{template "footer" .}}